.fn_multiplos{
    .xxx{
        font-size: $tam_1;
        @extend %font_blue_bold_with_border;
    }

    table{
        margin: 10px;

        // @media(max-width: 500px){
        //     margin:6px;
        // }

        @media #{$mq_prop_e_valor}{
            margin:6px;
        }
   }
}

.x{
    font-size: $a;
    @include mx-botao(14.8);

    &:hover{
        @extend %font_blue_bold_with_border;
    }
}

/*can use the keywords ODD or EVEN*/
#lista-teste li:nth-of-type(2n-1){
    background-color: $darken_red;
}